/.idea
/res101.pth
/pix2pix/checkpoints
/midas/model-f46da743.pt
/midas/model.pt
/structuredrl/model.pth.tar
dataset_prepare/midas/model.pt
/pretrained_models
/results
/result
/outputs
/output
/output*.*
/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*/**/__pycache__